<!-- la plantilla base de todas las demas -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--SE-AÑADE AQUI LO BOOTSTRAP-->
    <!--LO-DEL CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> -->
    
    <!--  NUEVA INSTALACION DE BOOTSTRAP5-->
    <!--  -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}




    <title>{% block titulo%} {% endblock%}</title>
</head>
<body>
    
<!-- <nav>
    <ul>
        <li><a href="">Inicio</a></li>
        <li><a href="">Clientes</a></li>
        <li><a href="">Contactenos</a></li>
    </ul>
</nav> -->
<div class="container">
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SMOTORS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'clientes' %}">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Ingresar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contactenos' %}">Contactenos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


            {% block contenido %}

            {% endblock%}
    </div>
<!--LO-DEL SCRIPT -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
