{% extends 'base.html' %} 

{% block titulo%}Clientes{%endblock%} 

{% block contenido %}

        <h1>Listado de Clientes</h1>
            
            <p><a class="btn btn-warning"  href="{% url 'crearCliente' %}" >Nuevo Cliente</a></p>

        <table class="table table-success table-striped-columns">
        <!-- <table class="table table-success table-striped-columns" border="1"> -->
                <thead>
                        <th>#</th>
                        <th>DNI</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Dirección</th>
                        <th>Ciudad</th>
                        <th>Pais</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Opción</th>
                </thead>
                <tbody>
                    <!-- <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr> -->
                        {% for cliente in clientes %}
                        <tr>
                            <td>{{cliente.id_cliente}}</td>
                            <td>{{cliente.cedula_cliente}}</td>
                            <td>{{cliente.nombre_cliente}}</td>
                            <td>{{cliente.apellidos_cliente}}</td>
                            <td>{{cliente.direccion_cliente}}</td>
                            <td>{{cliente.ciudad_cliente}}</td>
                            <td>{{cliente.pais_cliente}}</td>
                            <td>{{cliente.telefono_cliente}}</td>
                            <td>{{cliente.email_cliente}}</td>

                            <td>
                                <a href="{% url 'editarCliente' cliente.id_cliente %}" class="btn btn-success">Editar</a>
                                <a href="{% url 'eliminarCliente' cliente.id_cliente %}" class="btn btn-dark">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                </tbody>
                    
                    <!-- <p>
                        {{ clientes }}
                    </p> -->
                    
        </table>
{% endblock %}
